<html>
    <head>
    </head>
    <body>
        <h1>Pudding!</h1>
        <h2> {{title}} </h2>
        <h3> Prep Time: {{prep_time}} </h3>
        <p> @{{screen_name}}: {{tweet}} </p>
        <img src="{{ image }}" style= "width:300px;height:300px;">
        <a href= "{{ link }}"> "Click here for this recipe! </a>
        <!--<a href="https://twitter.com/intent/tweet?button_hashtag=puddingdessert&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #puddingdessert</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
        
    </body>
</html>
